name: L10n Focus iOS screenshots (one set of locales only)
on:
  workflow_call:
    inputs:
      locales:
        required: true
        type: string
      branch:
        required: false
        type: string
        default: "main"
      derived-data:
        required: true
        type: string
        default: ""
env:
  xcode_version: 16.3
  ios_version: 18.3.1
  ios_simulator_default: iPhone 16

jobs:
  get-screenshots:
    name: Generate screenshots
    runs-on: macos-15
    steps:
      - name: Clone firefox-ios repo
        uses: actions/checkout@v4
        with:
          repository: mozilla-mobile/firefox-ios
          ref: ${{ inputs.branch }}
      - name: Setup Xcode
        run: |
          sudo rm -rf /Applications/Xcode.app
          sudo xcode-select -s /Applications/Xcode_${{ env.xcode_version }}.app/Contents/Developer
          xcodebuild -version
          sudo xcodes runtimes install "iOS ${{ env.ios_version }}"
          xcrun simctl list runtimes
          xcrun simctl list
      - name: Run setup scripts for Focus
        run: |
          ./checkout.sh
      - name: Fetch derived data
        id: download-derived-data
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.derived-data }}
      - name: Extract derived data
        run: |
          ls -la *.tar.gz
          gunzip l10n-screenshots-dd.tar.gz
          tar -xvf l10n-screenshots-dd.tar
      - name: Generate screenshots
        continue-on-error: true
        id: screenshots
        run: |
          focus-ios/l10n-screenshots.sh --test-without-building ${{ inputs.locales }}
          hash=`echo "${{ inputs.locales }}" | shasum | awk '{print $1}'`
          echo "hash=$hash" >> $GITHUB_OUTPUT
      - name: Upload screenshots
        uses: actions/upload-artifact@v4.6.0
        with:
          path: ./l10n-screenshots
          retention-days: 90
          name: Screenshots-${{ steps.screenshots.outputs.hash }}